<div class="suerMsgManage">
    <h4 id="username">用户名:{{this.username}}</h4>
    <h4 id="password">密码:{{this.password}}</h4>
    <h4 id="realname">真实名字:{{this.rel_name}}</h4>
    <h4 id="borndate">出生日期:{{this.born_date}}</h4>
    <h4 id="classname">类名:{{this.class_name}}</h4>
</div>

<script>
    
</script>